.main
  .main__header
    .main__header__left
      .main__header__option
        = @group.name
      .main__header__member
        Member:
        - @group.users.each do |youza|
          = youza.name
    .main__header__edit
      = link_to edit_group_path(current_user) do
        .kazari
          Edit

  .main__messages
    = render @messages

  .main__form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__contents
        = f.text_field :content, class: 'box', placeholder: 'type a message'
        = f.label :image, class: 'label__wagomu' do
          = icon('far', 'image', class: 'syasin')
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'sousin'

